{% extends "main.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Мой блог посвящен домашним животным</p>
            <p>В основном попугаям</p>
            <p>Если вам нравиться писать посты давайте делать это вместе</p>

            <!--<div class="animate six">-->
			<!--<span>Е</span><span>Б</span><span>И</span><span>!</span> &nbsp;-->
			<!--<span>С</span><span>Е</span><span>Б</span><span>Я</span><span>_</span><span>Н</span><span>Е</span><span>Ж</span><span>Н</span><span>О</span>-->

                <!--<a class="repeat" href="javascript:void(0);">Repeat Animation</a>-->
		    <!--</div>-->
        </div>
    </div>
{% endblock %}
